@font-face {
  font-family: "MaskdownOne-BWV7V";
  src: url("./fonts/MaskdownOne-BWV7V.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Onerock";
  src: url("./fonts/Onerock.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "DeadwaxEx";
  src: url("./fonts/DeadwaxEx.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Rusuck";
  src: url("./fonts/Rusuck.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "CronicleDemo";
  src: url("./fonts/CronicleDemo.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Gorezack";
  src: url("./fonts/Gorezack.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

h1 {
  font-family: "Onerock", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

.guess {
  font-size: 20px;
  padding-left: 20px;
}

.ex {
  margin-top: 70px;
}

.score {
  padding-left: 160px;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-decoration: none;
  color: white;
}
.reset-game {
  background: rgb(78, 78, 80);
  color: whitesmoke;
  border-radius: 9px;
  border: 1px ridge rgb(66, 65, 67);
  height: 2rem;
  font-size: 20px;
}

/* Media Q */

@media screen and (max-width: 440px) {
  .text-gradient {
    font-size: 37px;
  }

  #random-font {
    font-size: 20px;
  }

  #guess-btn {
    margin-left: 2px !important;
  }

  .ex {
    margin-bottom: 40px;
    margin-top: 0;
  }

  .score-guesses {
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px !important;
    padding-left: 30px;
  }

  .score {
    padding-right: 170px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 2px;
  }

  #guesses-left,
  .p-guess {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .return {
    font-size: 13px;
  }

  .reset-game {
    height: 1.56rem;
    font-size: 16px;
  }

  #correct-guess-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  #correct-letters {
    margin-right: 20px;
  }
}
