@font-face {
  font-family: "MaskdownOne-BWV7V";
  src: url("./MaskdownOne-BWV7V.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onerock";
  src: url("./Onerock.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Onerock", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.metal {
  font-family: "MaskdownOne-BWV7V", sans-serif;
  font-size: 4pprem;
}
