@font-face {
  font-family: "MaskdownOne-BWV7V";
  src: url("./fonts/MaskdownOne-BWV7V.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Onerock";
  src: url("./fonts/Onerock.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "DeadwaxEx";
  src: url("./fonts/DeadwaxEx.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Rusuck";
  src: url("./fonts/Rusuck.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Gorezack";
  src: url("./fonts/Gorezack.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

h1 {
  font-family: "Onerock", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

/* Media Q */

@media screen and (max-width: 440px) {
  .text-gradient {
    font-size: 37px;
  }

  #random-font {
    font-size: 20px;
  }

  #guess-btn {
    margin-left: -2px !important;
  }

  .score {
    font-size: 1rem;
  }
}
