---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css'

---

<Layout title="What's That Say?">
	<main>
		<svg
			class="astro-a"
			width="600"
			height="680"
			viewBox="0 0 70 64"
			fill="url(#paint0_linear_1805_24383)"

			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
		<path d="M38.46,31.29l4.06-10.77A1,1,0,0,0,41,19.37L32,26.3l-9-6.93a1,1,0,0,0-1.55,1.15l4.06,10.77-7.32,5.64a1,1,0,0,0,.61,1.8h9.51L31.06,46a1,1,0,0,0,1.88,0l2.72-7.24h9.51a1,1,0,0,0,.61-1.8Zm.95-8.18L36.81,30l-3.17-2.45Zm-14.82,0,5.77,4.45L27.19,30ZM21.77,36.73l4.5-3.48,1.31,3.48ZM32,42.78l-1.53-4.05h3.06Zm2.28-6.05H29.72L27.93,32,32,28.83,36.07,32Zm2.14,0,1.31-3.48,4.5,3.48Z"/>

<path d="M32,7A25,25,0,1,0,57,32,25,25,0,0,0,32,7Zm0,48A23,23,0,1,1,55,32,23,23,0,0,1,32,55Z"/>

<path d="M32,11.71A20.29,20.29,0,1,0,52.29,32,20.31,20.31,0,0,0,32,11.71Zm0,38.58A18.29,18.29,0,1,1,50.29,32,18.32,18.32,0,0,1,32,50.29Z"/>

<path d="M32,21.17a2.8,2.8,0,1,0-2.79-2.8A2.8,2.8,0,0,0,32,21.17Zm0-3.59a.8.8,0,1,1-.79.79A.79.79,0,0,1,32,17.58Z"/>

<path d="M24.27,40.82a2.8,2.8,0,1,0,2.79,2.79A2.8,2.8,0,0,0,24.27,40.82Zm0,3.59a.8.8,0,1,1,.79-.8A.8.8,0,0,1,24.27,44.41Z"/>

<path d="M39.73,40.82a2.8,2.8,0,1,0,2.8,2.79A2.79,2.79,0,0,0,39.73,40.82Zm0,3.59a.8.8,0,1,1,.8-.8A.8.8,0,0,1,39.73,44.41Z"/>

<path d="M22.35,29.11a2.79,2.79,0,1,0-2.79,2.79A2.79,2.79,0,0,0,22.35,29.11Zm-3.58,0a.79.79,0,1,1,.79.79A.79.79,0,0,1,18.77,29.11Z"/>

<path d="M41.65,29.11a2.79,2.79,0,1,0,2.79-2.79A2.79,2.79,0,0,0,41.65,29.11Zm3.58,0a.79.79,0,1,1-.79-.79A.79.79,0,0,1,45.23,29.11Z"/>

			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<h1><span class="text-gradient">Whats That Say</span></h1>
		<p class="instructions">
			<code>To get started:</code> Click card below that says "Let's Begin" <br><br><code>How to play</code> You will get 5 guesses to find what the two word combo says in a metal band type of font. There is no score limit. You win when you feel satisfied. You lose when you run out of guesses. If the word is too unreadable you can always refresh the page to generate a new word combo and font. After making a guess, if it's not fully correct you will see the correct letters underneath in green and an ðŸ’¥ where the guessed letter is not correct.<br />
			<strong>What's that say!!</strong> Do you know what that says? Let's find out. Below are two examples of the fonts you will come across. <br><br>
			<code>Note from the developer:</code> You may notice that some of the fonts get a little wild and unruly, and sometimes they spill over into the guess input box section. Don't worry about it. It's not a glitch, it is METAL AF!!!
			<ul role="list" class="link-card-grid">
			<p class="metal">Ham Slap</p>
			<p class="ex">In this example, the answer is Ham Slap</p>
			<p class="metal2">Finger Tongue</p>
			<p class="ex">This one says Finger Tongue</p>
			</ul>
		</p>
		<ul role="list" class="link-card-grid" id="cards">
		
			<!-- Want to play click start to begin -->
			<Card
				href="/game"
				title="Let's begin"
				body="click to begin playing the game. Good Luck! ðŸ¤˜  ðŸ¤˜"
			/>
			<Card
				href="https://www.cory-nelson.com/"
				title="Portfolio"
				body="Check out my personal portfolio site. â¤ï¸"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	
.metal {
  font-family: "MaskdownOne-BWV7V", sans-serif;
  font-size: 4rem;
}
.metal2 {
  font-family: "DeadwaxEx", sans-serif;
  font-size: 4rem;
}
.metal3 {
  font-family: "Onerock", sans-serif;
  font-size: 4rem;
}

</style>
