---
import '../styles/global.css'
---

<p class="return"><button class="reset-game"> Reset Game (Will reset the score)</button></p>
<p class="return">return to &nbsp;<a href="/" id="main-page">main</a>&nbsp; page?</p>

<p class="return">&copy; Cory J Nelson |  All Rights Reserved | Fonts from <a href="https://www.1001fonts.com">1001fonts</a></p>






<style>
 .return{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
		text-decoration: none;
    color: white;
		
  }
 .reset-game{
  
		
    background:lightskyblue;
		color: black;
		border-radius: 5px;
		
  }


  	#main-page {
		text-decoration: none;
		color: crimson;
	}
	#main-page:hover {
		text-decoration:underline;
		color: white;
	}
</style>